<app-navbar></app-navbar>
<div class="container">
  <div class="starter-template">
    <h1>Compound Registration</h1>
    <p class="lead">this is doing things
      <br> .... and stuff.</p>
  </div>
</div>
<div class="container">
  <button class="btn btn-primary" (click)="getStuff()">Get Stuff</button>
</div>
<div class="container">
  <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
    [ngClass]="{ 'is-drop-over': dragOver }">
    <h1>Drag &amp; Drop</h1>
  </div>

  <label class="upload-button">
    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple> or choose file(s)
  </label>

  <button type="button" class="start-upload-btn" (click)="startUpload()">
    Start Upload
  </button>

  <h2>Output</h2>
  <textarea ref-textarea [(ngModel)]="fileUploadResult" rows="20" cols="80"></textarea>
  <br/>

  <h3>things</h3>
  <div *ngFor="let sditem of sdfileInfo">
    <div [innerHTML]="sditem.svg | safeHtml"></div>
    <!-- <textarea ref-textarea [(ngModel)]="sditem.svg" rows="20" cols="80"></textarea> -->
  </div>
</div>